@use "variables" as v;
@use "mixins" as m;

html {
  font-size: 62.5%;
}

body {
  font-family: v.$primaryFont;
  font-size: 1.6rem;
  color: v.$primaryColor;
  overflow-x: hidden;
  @include m.desktop {
    font-size: 1.8rem;
  }
}

.container {
  max-width: 140rem;
  width: 95%;
  margin-inline: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}
