@use 'variables'as v ;

@mixin mobile {
  @media(min-width: v.$mobile){
    @content;
  }
}

@mixin tablet {
  @media(min-width: v.$tablet){
    @content;
  }
}

@mixin desktop {
  @media(min-width: v.$desktop){
    @content;
  }
}

@mixin grid($col,$gap) {
  display: grid;
  grid-template-columns: repeat($col,1fr);
  gap: $gap;
}