@use '../base/variables' as v ;
@use '../base/mixins' as m ; 

.header {
  padding: 5rem 0;
  background-color: v.$primaryBg;

  &__hero {
    margin-top: -4rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.tablet { 
      max-width: 60rem;
    }
    @include m.desktop{
      max-width: 140rem;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 8rem;
    }
  }

  &__top {
    flex: 1;
    display: flex; 
  }

  &__img {
    @include m.desktop { 
      margin-left: rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    @include m.desktop { 
      flex: 1;
      gap: 2rem;
    }
  }

  &__heading {
    font-size: 3.5rem;
    font-weight: 700;
    color: v.$black;
    line-height: 1.2;
    max-width: 80%;
    @include m.desktop { 
      max-width: 90%;
      font-size: 6rem;
    }
  }

  &__subheading {
    font-size: 1.6rem;
    max-width: 85%;
    @include m.desktop { 
      max-width: 90%;
      font-size: 2rem;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include m.desktop { 
      flex-direction: row;
      justify-content: flex-start;
      gap: 4rem;
    }
  }

  &__btn {
    text-decoration: none;
    color: v.$white;
    padding: 1.3rem 2rem;
    border-radius: .5rem;
    background-color: v.$secondaryBg;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid transparent;
    transition: all 250ms ease;
    &:hover {
      border: 1px solid v.$secondaryBg;
      color: v.$secondaryBg;
    }
    
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: v.$white;
      left: 0;
      top: 0;
      z-index: -1;
      transform: scaleY(0);
      transition: all 250ms ease;
    }

    &:hover::before {
      transform: scaleY(1);
    }


    @include m.desktop { 
      width: auto;
      padding: 1.3rem 4rem;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    color: v.$secondaryBg;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: v.$secondaryBg;
      bottom: -2px;
      left: 0;
      transform: scaleX(1);
      transition: all 250ms ease;
    }

    &:hover::before{
      transform: scaleX(0)
    }
  }

  &__details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include m.tablet { 
      flex-direction: row;
      gap: 4rem;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}